
<ion-content>

  
  <ion-button shape="round" fill="outline"  [routerLink]="['/invitado']" class="bt2" color="warning">
      <ion-icon name="return-up-back-sharp" slot="start"> </ion-icon>
    </ion-button>


    <ion-grid >
      <ion-row >
        <ion-col sizeXs="12" sizeSm="10" sizeMd="8" sizeXl="4" class="logo4" >
  
          <img   src="/assets/img/bienvenidos-apmi.png">
       </ion-col>
      </ion-row>
    </ion-grid>
 


  


    
    <ion-button  size= "medium"  color="light" expand="block" fill="outline" [routerLink]="['/home']" class="btn">  <ion-icon name="settings-sharp" slot="start"></ion-icon> CREAR MAQUINA </ion-button>
 
    
    <ion-button  size= "medium"  color="light" expand="block" fill="outline" [routerLink]="['/mantenimientos']" class="btn">   <ion-icon name="calendar-sharp" slot="start"></ion-icon> CRONOGRAMA </ion-button>
 
    
    
    
  
  
  
  
  
    <ion-button  size= "medium"  color="light" expand="block" fill="outline" [routerLink]="['/progreso']" class="btn">      <ion-icon name="time-sharp" slot="start"></ion-icon> FUNCIONAMINETOS </ion-button>
  
    
    <ion-button  size= "medium"  color="light" expand="block" fill="outline" [routerLink]="['/tecnicos']" class="btn">    <ion-icon name="accessibility-sharp" slot="start"></ion-icon> TECNICOS </ion-button>


  
   


  

</ion-content>

